.side-name-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    width: min-content;
    color: #007FFF; /* Electric Blue */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Black shadow for depth */
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5px;
    position: absolute;
    right: 25px;
    font-family: 'Roboto', sans-serif;
    
}

#i-name {
    position: relative;
    left: 6px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .side-name-container {
        right: 0; /* Adjust position to be more mobile-friendly */
        font-size: 1.2rem; /* Smaller font size for smaller screens */
        /* padding: 0 20px; Add padding to ensure content doesn't touch the edges */
    }

}

@media (max-width: 480px) {
    .side-name-container {
        font-size: 1rem; /* Even smaller font size for very small screens */
        height: auto; /* Adjust height for landscape orientations or very small devices */
        padding-top: 10px; /* Extra padding on top for better spacing */
        padding-bottom: 10px; /* Extra padding on bottom for better spacing */
    }
}
