.person{
    position:absolute;
        width: 100%;
        margin: auto; /* Center the div if needed */
        height: 100vh; /* Example height - adjust as necessary */
    top: 0px;
}
canvas{
    height: 250px;
    background-color: transparent;
}