.math-container{
    background-color: white;
    width: 25%;
    font-size: 14px;
    position: absolute;
    left: 5px;
    border: solid 1px #000000;
    min-height: min-content;
    max-height: 90vh;
    border-radius: 5px ;
    padding: 10px;
    top: 5vh;    
}

@media screen and (max-width: 1439px) {
    .math-container{
        width: 50%;
        position: absolute;
        left: 0;
    }
    
}

@media screen and (max-width: 600px) {
    .math-container{
        position: absolute;
        width: 80%;
        overflow-y: scroll;
        z-index: 6;
    }
    
    
}