.navbar-container{
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #f8f9fa9d;
    color: #007FFF; /* Electric Blue */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.352); /* Black shadow for depth */    
    font-size: 1rem;

}
.nav-item:hover{
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .navbar-container{
        background-color: #00080b;
        width: 80%;
        left: 10%;
        border-radius: 100px;
        height: min-content;
        bottom: 20px;
    }
    .nav-item:hover{
        cursor: pointer;
    }
    
}